/* body {
  background-color: #6b7280;
  color: #eff6ff;
  font-weight: bolder;
  font-style: italic;
  text-align: left;
  margin:30px;
}
h1{
    color: blue;
}
h2{
    color:green;
}
#lib-header{
    color: rgba(253, 253, 253, 0.74) ;
}
.para{
    color: pink;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
:root{
    --primary-color:#161280;
    --dark-gray:#6B7280;
    --off-white:#F3F4F6;
}
hr{
    margin:2rem 0rem;
}
.container{
    padding: 0rem 1rem;
}
.container-center{
    margin:auto;
    max-width: 600px;
}
/* margin */
.margin-md{
    margin: 2 rem;
}
/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background-color:var(--primary-color);
    color: #BFDBFE;
    border-radius: 0.5rem;
    margin-right: 5px;
}

.link-seacondary{
    /* background-color:var(--primary-color); */
    color: #1E3A8A  ;
    border-radius: 0.5rem;
    border:1px solid var(--primary-color);
}
/* lists */
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    margin:0rem 0.5rem;
}
/* navigation */
.navigation{
    background-color:var(--primary-color);
    color: white;
    padding: 1rem  1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .link{
    color: white;

}
.navigation .nav-pills{
    text-align: right;
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation .link-active{
    font-weight: bold   ;
}
/** header **/
.hero{
    padding: 2rem;
    padding-top: 4rem;
}
.hero .hero-image{
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero .hero-heading{
    color: var(--dark-gray);
    padding-top: 1rem;
    text-align: center;
}
.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}
/** section **/
.section{
    padding:2rem; 
}
.section h1{
    text-align: center;   
}
.ow{   
    background-color: var(--off-white);
    border-radius: 1rem;
}
/** footer **/
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    color: white;
}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}